body {
    background-image: url('../images/login-background.png') !important; 
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    font-family: 'Inter', sans-serif;
}

.register-card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(10px);
    border-radius: 25px;
}

.btn-check:checked + .btn-outline-primary {
    background-color: #FFC107 !important;
    color: black !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn-outline-primary {
    color: #555;
    transition: all 0.3s ease;
}

.x-small {
    font-size: 0.7rem;
}

.rounded-start-pill {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
}

.rounded-end-pill {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
}